streamlit==1.22.0
firebase-admin==6.1.0
transformers==4.28.1
torch==2.0.1
pandas==2.0.1
plotly==5.14.1
nltk==3.8.1
scikit-learn==1.2.2
python-dotenv==1.0.0
matplotlib==3.7.1
seaborn==0.12.2
textblob==0.17.1
